<nav class="nav">
  <div class="nav-inner">
    <%= link_to "Nemesis Setup", root_path, class: "brand" %>

    <ul class="nav-links">
      <li><span class="nav-link">Losuj</span></li>
      <li><span class="nav-link">Wyszukaj</span></li>

      <li class="has-dropdown">
        <button type="button" class="nav-link">Dane ▾</button>
        <ul class="dropdown">
          <li>Gry</li>
          <li>Dodatki</li>
          <li>Warianty</li>
          <li>Postacie</li>
          <li>Postać↔Wariant</li>
          <li>Setups</li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
