<nav class="nav">
  <div class="nav-inner">
    <%= link_to "Nemesis Setup", root_path, class: "brand" %>

    <ul class="nav-links">
      <li><%= link_to "Losuj", new_setup_path, class: "nav-link" %></li>
      <li><%= link_to "Wyszukaj", search_path, class: "nav-link" %></li>

      <li class="has-dropdown">
        <button type="button" class="nav-link">Dane ▾</button>
        <ul class="dropdown">
          <li><%= link_to "Gry", games_path, class: "dropdown-link" %></li>
          <li>Dodatki</li>
          <li>Warianty</li>
          <li>Postacie</li>
          <li>Postać↔Wariant</li>
          <li>Setups</li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
