<div id="<%= dom_id character_variant %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Character:</strong>
    <%= character_variant.character_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Variant:</strong>
    <%= character_variant.variant_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Priority:</strong>
    <%= character_variant.priority %>
  </div>
</div>
